   /* Fonts */

   $Font-1:'Montserrat', sans-serif;
   $Font-2:'Bell MT', sans-serif;
   $Font-3:Arial, Helvetica, sans-serif;
 
   /* Colors */

  $const-color-black : #000;
  $const-color-white: #fff;
  $const-color-red : red;

  $color-1:#1a1240;
  $color-2:#662d91;
  $color-3:#515151;
  $color-4:#6c6476;
  $color-5:#745195;
  $color-6:#2e1f44;

 $gradient-1:linear-gradient(90deg, rgba(60,30,100,1) 0%, rgba(81,38,123,1) 50%, rgba(60,30,100,1) 100%);
 $gradient-2:linear-gradient(90deg, rgba(32,16,55,1) 0%, rgba(42,20,67,1) 50%, rgba(32,16,55,1) 100%);
 $gradient-3:linear-gradient(90deg, rgba(93,43,135,1) 0%, rgba(38,22,77,1) 100%);
 $gradient-4:linear-gradient(90deg, rgba(75,35,116,1) 0%, rgba(93,42,135,1) 50%, rgba(78,37,120,1) 100%);
.gradient-bg-1{
   background: $gradient-1;
}
.gradient-bg-2{
   background: $gradient-2;
}